<div id="contact_form">
<form (ngSubmit)="onSubmit()" class="form">
  <div class="content grid-item">

    <div class="form-field">
      <div class="text-input-box">
        <input
          id="name"
          type="text"
          name="name"
          [(ngModel)]="contactInfo.name"
          required
        />
        <label for="name">Your name</label>
      </div>
    </div>

    <div class="form-field">
      <div class="text-input-box">
        <input
          type="text"
          id="email"
          name="email"
          [(ngModel)]="contactInfo.email"
          required
        />
        <label for="email" >Your email</label>
      </div>
    </div>

     <div class="form-field">
       <!--<label>Country</label>>-->
      <div class="dropdown-wrapper">
          <select [ngModel]="contactInfo.country.country" name="country" id="country">
            <option *ngFor="let item of countries.countries" [value]="item.country" (click)="setCountry(item.id)">{{item.country}}</option>
          </select>
        <label *ngIf="contactInfo.country.id == -1">{{contactInfo.country.country}}</label>
      </div>
    </div>



    <div class="form-field">
      <div class="checkbox-input-box">
        <input
          type="checkbox"
          id="companyCheckBox"
          name="companyCheckBox"
          [(ngModel)]="contactInfo.companyCheckBox"/>
        <label>
          <span *ngIf="!contactInfo.companyCheckBox">Company?</span>
        </label>
      </div>

      <div class="text-input-box">
        <input
          id="company"
          type="text"
          name="company"
          [(ngModel)]="contactInfo.companyName"
          *ngIf="contactInfo.companyCheckBox"
          required
        />
        <label for="company" class="label-for-input" *ngIf="contactInfo.companyCheckBox">
        Company name
        </label>
      </div>
      <!--TODO:can companyCheckbox be null?-->
    </div>

    <div class="form-field">
      <div class="multiple-choice">

        <span class="question">{{this.goalsQuestion.question}}</span>

        <div class="checkbox-input-box" *ngFor="let answer of this.goalsQuestion.answerOptions">
          <div class="checkbox-input-box">
            <input
              type="checkbox"
              name="companyCheckBox"
              [(ngModel)]="answer.checked"/>
            <label>
              <span>{{answer.text}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="textBoxContainer grid-item">

      <div class="text-input-box">
        <textarea
          id="message"
          name="message"
          class="message-input"
          [(ngModel)]="contactInfo.message"
          ></textarea>
          <label for="message">Your message</label>
      </div>

  </div>

  <div class="submit grid-item">
      <button class="btn-slide" type="submit">
        send
      </button>
  </div>
</form>
  <!--<pre style="border: 2px solid red">{{contactInfo |json}}</pre>
  -->
 </div>
