<div id="contact_form">
<form (ngSubmit)="onSubmit()" class="form">
<!--
  <p>form model state</p>
  <pre>{{contactInfo |json}}</pre>
-->
  <div class="content grid-item">
    <div class="form-field">
      <label for="name" class="label-for-input">
        <input
          id="name"
          type="text"
          name="name"
          class="input-field"
          [(ngModel)]="contactInfo.name"
        />
          <span class="input-description" *ngIf="contactInfo.name==''">Your name</span>
      </label>

    </div>
    <div class="form-field">
      <label for="email" class="label-for-input" >

        <input
          type="email"
          id="email"
          name="email"
          class="input-field"
          [(ngModel)]="contactInfo.email"
        />
        <span  class="input-description" *ngIf="contactInfo.email==''">Your email</span>
      </label>

    </div>

    <div class="form-field">
      <label for="country" class="label-for-input" >
        <input
          type="text"
          id="country"
          name="country"
          class="input-field"
          [(ngModel)]="contactInfo.country"
        />
        <span class="input-description" *ngIf="contactInfo.country == ''">Country</span>
      </label>

    </div>

    <div class="form-field" >
      <input
        class="checkbox"
        type="checkbox"
        id="companyCheckBox"
        name="companyCheckBox"
        [(ngModel)]="contactInfo.companyCheckBox"
      />
      <label class="label-for-input" *ngIf="!contactInfo.companyCheckBox" >Company</label>
      <label for="company" class="label-for-input" *ngIf="contactInfo.companyCheckBox">
        <input
               id="company"
               type="text"
               name="company"
               class="input-field"
               [(ngModel)]="contactInfo.companyName"
        />
        <span class="input-description">Your company name</span>
      </label>
      <!--TODO:can companyCheckbox be null?-->
    </div>
  </div>
<!--
  <div class="form-field">
    <label for="goals">What are yours goals?</label>
    <textarea
      id="goals"
      name="goals"
      [(ngModel)]="contactInfo.goals"
    ></textarea>
  </div>
-->

  <div class="textBoxContainer grid-item">
    <div class="form-field">
      <label for="message" class="textarea-label">
        <textarea
        id="message"
        name="message"
        class="message-input"
        [(ngModel)]="contactInfo.message"
      ></textarea>

        <span>Your message</span>

      </label>
    </div>
  </div>

  <div class="submit grid-item">
      <button class="css-button-sliding-to-top--black" type="submit">
        send
      </button>
  </div>
</form>
</div>
