#contact_form{
  width: 100%;
  max-width: 1500px;
}

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
  gap: 30px;
  grid-template-areas:
    "content textBoxContainer"
    "content submit"
  ;
}
.grid-item{
/*TODO: items anpassen*/
}

/*TODO: Content*/
.content{
  grid-area: content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.input-field{
  width: 100%;
}
.form-field{
  margin-bottom: 12px;
  display: inline-block;
  position: relative;
  max-width: 500px;
}

.textBoxContainer{
  grid-area: textBoxContainer;
}

#message{
  height: 200px;
  width: 100%;
}

.submit{
  grid-area: submit;
}

@media screen and (max-width: 760px) {
  .form{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    grid-template-areas:
    "content"
    "textBoxContainer"
    "submit"
  ;
  }
}

/*Copied from old project*/

.label-for-input{
  display: inline-block;
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.textarea-label{
  color: #f7f7f7;
  font-weight: 400;
}

.message-input{
  background-color: hsla(0,0%,100%,.1);
  border: 1px solid hsla(0,0%,100%,.1);
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  height: 300px;
  letter-spacing: 0;
  line-height: 1.333;
  margin-top: 16px;
  padding: 20px;
  resize: none;
  text-align: left;
  transition: all .5s;
  width: 100%;
}

.input-description{
  border-color: #777d87;
  color: #777d87;
  cursor: text;
  display: flex;
  max-height: 100%;
  position: absolute;
  transition: all .3s ease-in-out;
  width: 100%;
  font-size: 18px;
  line-height: 1.333;
  top: 20px;
  left: 5px;
}

.input-field{
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  height: inherit;
  line-height: inherit;
  margin: 0;
  padding: 20px 0 5px;
  position: relative;
  transition: box-shadow .4s;
  width: 100%;
}
