section{
  margin: 0;
  padding: 0;
  position: relative;
  height: 100svh;
  width: 100%;
}

#particles-bg{
  position: absolute;
  width: 100%;
  height: 100svh;
  z-index: 0;
}
#fixed-heading{
  position: fixed;
}
#landing{
  color: white;
  align-content: center;
}

#what-we-do{
}

#contact-us{
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  backdrop-filter: blur(4px);
  background: hsla(0,0%,100%,.10);
  padding-left:50px;
  padding-right:50px ;
  height: 700px;
  min-height: fit-content;
}

.flex-item{
  backdrop-filter: blur(8px);
  background: hsla(0,0%,100%,.10);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 200px;
  min-height: fit-content;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  padding: 32px;
  width: 400px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-heading{
  font-size: 64px;
  padding: 5px;
}

.centered-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.col-flex-direction{
  flex-direction: column;
}

/*CONTACT FORM*/

.contactform{
  /*border: solid 1px white;*/
  margin: 0 auto;
  min-height: fit-content;
  position: relative;
  width: 100%;
}

.contact-flex-item{
  width: 100%;
}

#contactform{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 760px) {
    #contact-us{
      min-height: 800px;
      height: 100svh;
    }
  }
