<ng-particles [id]="id"
              [options]="particleOptions"
              [particlesInit]="particlesInit"
              (particlesLoaded)="particlesLoaded($event)"></ng-particles>


  <section id="landing" class=" centered-flex-container col-flex-direction section-wrapper">

    <div >
      <h1 class="main-heading">{{this.title}}</h1>
      <h2>  Risk Mitigation Yield Maximization </h2>
    </div>
  </section>

  <section id="what-we-do" class="centered-flex-container section-wrapper col-flex-direction">
    <div class="flex-item"><h2>  Adapting investment strategies to suit your individual time horizon </h2></div>
    <div class="flex-item"><h2>  Enhancing yield without altering risk exposure </h2></div>
    <div class="flex-item"><h2>  Mitigating risk while sustaining yield potential </h2></div>
  </section>

  <section id="contact-us" class="centered-flex-container">
    <h2>Contact Us.</h2>
    <div class="contactform">
      <form
        [formGroup]="form"
        (ngSubmit)="send()"
        id="contact_form"
      >
        <div>
          <label for="name">name</label>
          <input
            formControlName="name"
            type="text"
            id="name"
            name="name"
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            name="email"
          />
        </div>
          <div>
            <label for="country">country</label>
            <input
              formControlName="country"
              type="text"
              id="country"
              name="country"
            />
          </div>
        <div>
          <label for="company">Company</label>
          <input
            formControlName="company"
            type="checkbox"
            id="company"
            name="company"
          />
        </div>
        <div>
          <label for="goals">What are yours goals?</label
          >
          <textarea
            formControlName="goals"
            id="goals"
            name="goals"
          ></textarea>
        </div>
        <button type="submit">
          Send
        </button>
      </form>
    </div>
  </section>

